#myDiv{
    margin-top: 15%;    
    background-color: #fafafa;
    width: 50%;
    padding: 1rem;
    border: 1px solid #ccc;
}


.st0:hover{
    fill: #fafafa;
    stroke: #dece0c;
    stroke-width: 4px;
}

body{
    background-color: #f3f3f3;
}
