<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>UTH</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/estilo.css}" >
        <link rel="stylesheet" th:href="@{/css/estiloCalendarizacion.css}" >

    </head>
    <body>
        <div id="cabecera">
            <div id="logotipo">
                <figure><img src="images/logo vacunas.png" width="270" height="10" alt="Logotipo"></figure>
            </div>
            <div id="titulo"><h1>Control de Vacunas COVID-19</h1></div>
        </div>

        <ul class="menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/abrirVacuna">Vacunas</a></li>
            <li><a href="/abrirEstablecimiento">Centros de Vacunacion</a></li>
            <li><a href="/abrirIndex">Registro Poblacional</a></li>
            <li><a href="/abrirCitas">Control de Citas</a></li>
            <li><a href="/abrirEstadisticas">Estadisticas</a></li>
        </ul>

        <div align="center" height="400px">

            <div class="container2">
                <ul class="slider2">
                    <li>
                        <img  src="images/inf21.jpg" alt="" width="560" height="650"/>
                    </li>
                    <li>
                        <img  src="images/inf2.jpg" alt="" width="560" height="650"/>
                    </li>     
                </ul>
            </div>  
            
            <div class="container3">
                <h4>¿DONDE ENCONTRAR ASISTENCIA MEDICA LOCAL?</h4>
                <ul class="slider3">
                    <li>
                        <image src="images/map1.jpg" alt="" width="650" height="560"/>
                    </li>
                    <li>
                        <image src="images/map2.jpg" alt="" width="650" height="560"/>
                    </li>
                </ul>
                
            </div>
            
        </div>
        <div>
            <footer>
                <p>
                    Derechos Reservados <span>Jessy y Joy Team</span>
                </p>
            </footer>
        </div>
    </body>
</html>