<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>UTH</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/estilo.css}" >

    </head>
    <body>
        <div id="cabecera">
            <div id="logotipo">
                <figure><img src="images/logo vacunas.png" width="270" height="10" alt="Logotipo"></figure>
            </div>
            <div id="titulo"><h1>Control de Vacunas COVID-19</h1></div>
        </div>

        <ul class="menu">
            <li><a href="/principal">Inicio</a></li>
            <li><a href="/abrirVacuna">Vacunas</a></li>
            <li><a href="/abrirEstablecimiento">Centros de Vacunacion</a></li>
            <li><a href="/abrirCalendarizacion">Calendarizacion</a></li>
            <li><a href="/abrirIndex">Registro Poblacional</a></li>
            <li><a href="/abrirEstadisticas">Estadisticas</a></li>
        </ul>

        <div align="center" height="400px">
            <h1 align="center">Gestion de Poblacion</h1>
            <a href="/crearC" >Agregar</a>
            <h2 th:if="${lista.isEmpty()}" align="center">No hay registros</h2>
            <div th:if="${!lista.isEmpty()}" align="center" >
                <h2>Registros</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Vacuna</th>
                            <th>Establecimiento</th>
                            <th>Dosis</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="citas:${lista}">
                            <td th:text="${citas.id}"></td>
                            <td th:text="${citas.persona}"></td>
                            <td th:text="${citas.fecha}"></td>
                            <td th:text="${citas.vacuna}"></td>
                            <td th:text="${citas.establecimiento}"></td>
                            <td th:text="${citas.dosis}"></td>
                            <td>
                                <a th:href="@{/actualizarC/{id}(id=${citas.id})}"><img src="images/actualizar.png" alt=""></a>
                                <a th:href="@{/eliminarC/{id}(id=${citas.id})}"><img src="images/eliminar.png" alt=""></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <footer>
                <p>
                    Derechos Reservados <span>Jessy y Joy Team</span>
                </p>
            </footer>
        </div>
    </body>
</html>
