<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>UTH</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/estilo.css}" >

    </head>
    <body>
        <div id="cabecera">
            <div id="logotipo">
                <figure><img src="images/logo vacunas.png" width="270" height="10" alt="Logotipo"></figure>
            </div>
            <div id="titulo"><h1>Control de Vacunas COVID-19</h1></div>
        </div>

        <ul class="menu">
            <li><a href="/principal">Inicio</a></li>
            <li><a href="/abrirVacuna">Vacunas</a></li>
            <li><a href="/abrirEstablecimiento">Centros de Vacunacion</a></li>
            <li><a href="/abrirCalendarizacion">Calendarizacion</a></li>
            <li><a href="/abrirCitas">Control de Citas</a></li>
            <li><a href="/abrirEstadisticas">Estadisticas</a></li>
        </ul>

        <div align="center" height="400px">
            <h1 align="center">Gestion de Poblacion</h1>
            <a href="/crear" >Agregar</a>
            <h2 th:if="${lista.isEmpty()}" align="center">No hay registros</h2>
            <div th:if="${!lista.isEmpty()}" align="center" >
                <h2>Registros</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Identidad</th>
                            <th>Nombre</th>
                            <th>Fecha Nacimiento</th>
                            <th>Genero</th>
                            <th>Ocupacion</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Establecimiento de Salud</th>
                            <th>Vacuna</th>
                            <th>Primera Dosis</th>
                            <th>Segunda Dosis</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="persona:${lista}">
                            <td th:text="${persona.id}"></td>
                            <td th:text="${persona.ident}"></td>
                            <td th:text="${persona.nombre}"></td>
                            <td th:text="${persona.fechaNac}"></td>
                            <td th:text="${persona.genero}"></td>
                            <td th:text="${persona.ocupacion}"></td>
                            <td th:text="${persona.direccion}"></td>
                            <td th:text="${persona.telefono}"></td>
                            <td th:text="${persona.establecimientoSalud}"></td>
                            <td th:text="${persona.nombreVacuna}"></td>
                            <td th:text="${persona.primeraDosis}"></td>
                            <td th:text="${persona.segundaDosis}"></td>
                            <td>
                                <a th:href="@{/actualizar/{id}(id=${persona.id})}"><img src="images/actualizar.png" alt=""></a>
                                <a th:href="@{/eliminar/{id}(id=${persona.id})}"><img src="images/eliminar.png" alt=""></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <footer>
                <p>
                    Derechos Reservados <span>Jessy y Joy Team</span>
                </p>
            </footer>
        </div>
    </body>
</html>