<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>UTH</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/estilo.css}" >
        <link rel="stylesheet" th:href="@{/css/estilo_form.css}" >
    </head>
    <body>
        <div id="cabecera">
            <div id="logotipo">
                <figure><img src="images/logo vacunas.png" width="270" height="10" alt="Logotipo"></figure>
            </div>
            <div id="titulo"><h1>Control de Vacunas COVID-19</h1></div>
        </div>

        <ul class="menu">
            <li><a href="/principal">Inicio</a></li>
            <li><a href="/abrirVacuna">Vacunas</a></li>
            <li><a href="/abrirEstablecimiento">Centros de Vacunacion</a></li>
            <li><a href="/abrirCalendarizacion">Calendarizacion</a></li>
            <li><a href="/abrirCitas">Control de Citas</a></li>
            <li><a href="/estadisticas">Estadisticas</a></li>
        </ul>

        <div class="content" align="center" height="400px">
            <div class="cont" align="center">
                <h2>Registrando Poblacion</h2>
            </div>
            <p align="center">Rellene la siguiente informacion del formulario para agregar un nuevo registro</p><br>
            <form action="#" method="POST" th:action="@{/guardarFormulario}" th:object="${persona}">
                <div>
                    <label>Id:</label>
                    <input disabled  type="text" id="id" name="id" th:field="*{id}"><br><br>
                    
                    <label>Ingrese El Numero de Identidad:</label>
                    <input type="text" id="ident" name="ident" th:field="*{ident}"><br><br>

                    <label>Ingrese El Nombre Completo:</label>
                    <input type="text" id="nombre" name="nombre" th:field="*{nombre}"><br><br>

                    <label>Ingrese La Fecha De Nacimiento:</label>
                    <input type="tex" id="fechaNac" name="fechaNac" th:field="*{fechaNac}"><br><br>
                    
                    <label>Seleccione El Genero:</label>
                    <select id="genero" name="genero" th:field="*{genero}">
                        <option th:each="genero:${genero}"
                                th:value="${genero.id}"
                                th:text="${genero.genero}"
                            /> 
                    </select><br><br>

                    <label>Ingrese Una Ocupacion:</label>
                    <input type="text" id="ocupacion" name="ocupacion" th:field="*{ocupacion}"><br><br>

                    <label>Ingrese Una Direccion:</label>
                    <input type="text" id="direccion" name="direccion" th:field="*{direccion}"><br><br>

                    <label>Ingrese Un Numero De Telefono:</label>
                    <input type="text" id="telefono" name="telefono" th:field="*{telefono}"><br><br>

                    <label>Seleccione Establecimiento De Salud:</label>
                    <select id="establecimientoSalud" name="establecimientoSalud" th:field="*{establecimientoSalud}">
                        <option th:each="establecimiento:${establecimiento}"
                                th:value="${establecimiento.id}"
                                th:text="${establecimiento.nombreEstablecimiento}"
                            /> 
                    </select><br><br>

                    <label>Vacuna Aplicada:</label>
                    <select id="nombreVacuna" name="nombreVacuna" th:field="*{nombreVacuna}">
                        <option th:each="vacuna:${vacuna}"
                                th:value="${vacuna.id}"
                                th:text="${vacuna.nombreVacuna}"
                            /> 
                    </select><br><br>
                    
                    <label>Ingrese La Fecha De Primera Dosis</label>
                    <input type="text" id="primeraDosis" name="primeraDosis" th:field="*{primeraDosis}"><br><br>

                </div>

                <br><br><button type="submit">Guardar Registro</button>
                <button type="reset">Cancelar</button>
            </form>
        </div>

        <div >
            <footer>
                <p>
                    Derechos Reservados <span>Jessy y Joy Team</span>
                </p>
            </footer>
        </div>


    </body>

</html>
