<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>UTH</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/estilo.css}" >

    </head>
    <body>

        <div id="cabecera">
            <div id="logotipo">
                <figure><img src="images/logo vacunas.png" width="270" height="10" alt="Logotipo"></figure>
            </div>
            <div id="titulo"><h1>Control de Vacunas COVID-19</h1></div>
        </div>

        <ul class="menu">
            <li><a href="/abrirVacuna">Vacunas</a></li>
            <li><a href="#">Centros de Vacunacion</a></li>
            <li><a href="/abrirIndex">Registro Poblacional</a></li>
            <li><a href="#">Calendarizacion</a></li>
            <li><a href="#">Control de Citas</a></li>
            <li><a href="#">Estadisticas</a></li>
        </ul>

        <div class="container">
            <ul class="slider">
                <li>
                    <figure><img src="images/slide-image-1.jpg" alt="Imagen 1"/></figure>
                </li>
                <li>
                    <figure><img src="images/slide-image-2.jpg" alt="Imagen 2"/></figure>
                </li>
                <li>
                    <figure><img src="images/slide-image-3.jpg" alt="Imagen 3"/></figure>
                </li>      
            </ul>
        </div>

        <div class="conten" align="center" height="400px">
            <h2>Covid-19 en Honduras</h2>
            <div class="cont1" align="center" style="width:80%;" >
                <figure><img src="images/eeuu.jpeg" width="500" height="500"></figure><br>
                San Pedro Sula, 27 de junio. Honduras recibió este domingo en San Pedro Sula 1,5 millones 
                de dosis de la vacuna de Moderna contra la covid-19, donadas por Estados Unidos a través 
                del mecanismo Covax de la Organización Mundial de la Salud (OMS).El presidente Juan Orlando Hernández
                recibió el importante donativo que fue entregado por la encargada de Negocios de la Embajada de 
                los Estados Unidos, Colleen A. Hoey, en presencia de Piedad Huerta, representante de la Organización 
                Panamericana de la Salud (OPS) en Honduras, y de la ministra de Salud, Alba Consuelo Flores.
                La Casa Blanca anunció el envío a Honduras el pasado viernes y afirmó que éste forma parte de 
                las 80 millones de dosis de vacunas que el presidente estadounidense, Joe Biden, ha prometido 
                compartir con otros países, la mayoría de ellas a través del mecanismo Covax/Gavi. Las dosis 
                llegaron a la Base Aérea Armando Escalón de San Pedro Sula para luego ser enviadas al Almacén Nacional 
                de Biológicos de Tegucigalpa, para su posterior distribución a las distintas regiones de salud de 
                Honduras donde serán aplicadas a la población.
            </div>
        </div>

        <div>
            <footer>
                <p>
                    Derechos Reservados <span>Jessy y Joy Team</span>
                </p>
            </footer>
        </div>
    </body>
</html>
